<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Instituto Local</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/all.css') }}">
            {#<link rel="stylesheet" href="{{ asset('css/sb-admin-2.min.css') }}">#}
            <link rel="stylesheet" href="{{ asset('css/oter.css') }}">
            <link rel="stylesheet" href="{{ asset('css/container.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="overflow-y: auto; max-height: 100vh;">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
                    <div class="sidebar-brand-icon">
                        <img src="{{ asset('img/ISFT-12.jpg') }}"  class="logo-circular">
                    </div>
                    <div class="sidebar-brand-text mx-3">Instituto Local</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Bienvenido</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Menu
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                    <!-- Nav Item - Users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_index') }}">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="clearSessionTecnicaturas(); return false;">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Central Tecnicaturas y Asignaturas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="clearSessionCursos(); return false;">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Central Comisiones, Cursos y Cursadas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="clearSessionPersonas(); return false;">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Central Recursos Humanos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_vistasmesas') }}">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Central Finales</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_ESTUDIANTE') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_vistasestudiante') }}">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Estudiante</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DOCENTE') %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="clearSessionDocentes(); return false;">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Central Docentes</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Nav Item - Personas -->
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Personas</span>
                        </a>
                        <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Datos de Alumnos</h6>
                                <a class="collapse-item" href="{{ path('app_persona_index') }}">Personas</a>
                                <a class="collapse-item" href="{{ path('app_docente_index') }}">Docentes</a>
                                <a class="collapse-item" href="{{ path('app_alumno_index') }}">Estudiantes</a>
                            </div>
                        </div>
                    </li>
                {% endif %}

                <!-- Nav Item - Carreras -->
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Carreras</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Datos de Carreras</h6>
                                <a class="collapse-item" href="{{ path('app_carreras_index') }}">Estudiante por Carreras</a>
                                <a class="collapse-item" href="{{ path('app_tecnicatura_index') }}">Tecnicaturas</a>
                                <a class="collapse-item" href="{{ path('app_asignatura_index') }}">Asignaturas</a>
                                <a class="collapse-item" href="{{ path('app_comision_index') }}">Comisiones</a>
                                <a class="collapse-item" href="{{ path('app_correlativa_index') }}">Correlativas</a>
                                <a class="collapse-item" href="{{ path('app_cursada_index') }}">Cursadas</a>
                                <a class="collapse-item" href="{{ path('app_curso_index') }}">Cursos</a>
                                <a class="collapse-item" href="{{ path('app_cursada_docente_index') }}">Cursadas Docentes</a>
                            </div>
                        </div>
                    </li>
                {% endif %}

                <!-- Nav Item - Configuration -->
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Configuración</span>
                        </a>
                        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Datos Institucionales</h6>
                                <a class="collapse-item" href="{{ path('app_instituto_index') }}">Instituto</a>
                                <a class="collapse-item" href="{{ path('app_telefono_index') }}">Teléfonos</a>
                                <a class="collapse-item" href="{{ path('app_localidad_index') }}">Localidad</a>
                                <a class="collapse-item" href="{{ path('app_region_index') }}">Región</a>
                                <a class="collapse-item" href="{{ path('app_provincia_index') }}">Provincia</a>
                                <a class="collapse-item" href="{{ path('app_pais_index') }}">País</a>
                                <a class="collapse-item" href="{{ path('app_turno_index') }}">Turnos</a>
                                <a class="collapse-item" href="{{ path('app_modalidad_index') }}">Modalidad</a>
                            </div>
                        </div>
                    </li>
                {% endif %}

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                <!-- Sidebar Message -->
                <div class="sidebar-card d-none d-lg-flex">
                    <img class="sidebar-card-illustration mb-2" src="{{ asset('img/logo.jpeg') }}" alt="...">
                    <p class="text-center mb-2">
                        <strong>Bienvenidos</strong> al proyecto del i12!
                    </p>
                </div>
            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- End of Page Content -->

                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        {% block javascripts %}
            <script src="{{ asset('js/other.js') }}"></script>
        {% endblock %}
    </body>
</html>
