{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Listado de Usuarios</h1>

    <table class="tabla_home" border=1>
        <thead>
            <tr>
                
                <th> E-Mail</th>
                <th> Roles</th>
                <th> Nombre</th>
                <th> Apellido</th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Mostrar </a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="button"  href="{{ path('app_user_new') }}">Crear Nuevo Usuario</a >
{% endblock %}

